.ib-droppableChoiceList{
    padding: 2vmin;
}

.ib-draggableText {
    width: 50vmin;
    height: 5vmin;
    padding: 2vmin;
    font-size: 3vmin;
    margin-bottom: 2vmin;
    background-color: lightseagreen;
    color: white;
    border-radius: 1vmin;
    text-align: center;
    user-select: none;
    transition: background-color .2s ease;
}

.ib-draggableText.dragging {

}

.ib-button.ib-multiple-choice-choice {
    width: 50vmin;
    height: 6vmin;
    font-size: 3vmin;
    margin-bottom: 2vmin;
    color: white;
    border-radius: 1vmin;
    text-align: center;
    user-select: none;
}

.ib-button.ib-selected-choice {
    background-color: seagreen;
}

.ib-button.ib-unselected-choice {
    background-color: lightseagreen;
}

.ib-matching-category {
    border: 3px solid black;
}

.ib-droppableChoiceList {
    width: 50vmin;
    min-height: 5vmin;
}




.icebreaker {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.icebreaker .basic_col {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.icebreaker button {
    width: 50vmin;
    height: 8vmin;
    font-size: 3vmin;
    color: white;
    margin: 1vmin;
    border-radius: 1.5vmin;
    background-color: steelblue;
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
}

.icebreaker button:active {
    opacity: 1;
}

.icebreaker button:disabled {
    opacity: 0.3;
}

.icebreaker input[type='text'] {
    width: 50vmin;
    height: 6vmin;
    font-size: 3vmin;
    margin: 1vmin;
    text-align: center;
}

.icebreaker h1 {
    font-size: 9vmin;
}

.icebreaker h2 {
    font-size: 6vmin;
}

.icebreaker h3 {
    font-size: 3vmin;
}

.icebreaker h4 {
    font-size: 2.5vmin;
}

.icebreaker h1,
.icebreaker h2,
.icebreaker h3,
.icebreaker h4,
.icebreaker h5 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    /* text-align: center; */
}
