.fc-background-image-div {
    background-image: url("http://aletavern.herokuapp.com/FashionCents/Artwork/FC_KS_Mat_Empty.jpg");
    background-size: cover;
}

.fc-stacked {
    position: absolute;
}

.fc-card-tiny {
    height: 52px;
    width: 32px;
}

.fc-card-tiny-text {
    font-size: 9px;
}

.fc-card-small {
    height: 105px;
    width: 75px;
}

.fc-card-medium {
    height: 210px;
    width: 150px;
}

.fc-card-large {
    height: 350px;
    width: 250px;
}

.fc-card-huge {
    height: 420px;
    width: 300px;
}

.fc-card-half-large {
    height: 140px;
    width: 100px;
}

.fc-card-player-large {
    height: 210px;
    width: 150px;
}

.fc-card-player-small {
    height: 105px;
    width: 75px;
}

.fc-stack-placeholder-color {
    background: rgba(255, 255, 255, .7);
}

.fc-stack-placeholder-color:hover {
    background: rgba(180, 180, 180, .7);
}

.fc-flex-container {
    display: flex;
}

.fc-flex-container-wrap{
    flex-wrap: wrap;
}

.fc-flex-container > div {
    margin: 10px;
}

.fc-flex-container-center {
    justify-content: center;
}

.fc-selected {
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    border-width: 7px;
}

.fc-selected:hover {
    border-color: rgb(190, 0, 0)
}

.fc-unselected {
    border-style: solid;
    border-radius: 5px;
    border-color: transparent;
    border-width: 7px;
}

.fc-card-selector {
    background-color: azure;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 7px;
}

.fc-flex-right-column{
    margin-left: auto;
}

.fc-popup-menu-content {
    margin: auto;  
    background: rgb(161, 161, 161);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    user-select: none;
}

.fc-card-counter-container {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
}

.fc-card-counter {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(194, 47, 47);
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    user-select: none;
}

.fc-popup-menu-content .fc-popup-menu-content-item:hover {
    background: rgb(100,100,100);
}

.fc-clickable {
    cursor: pointer;
    user-select: none;
}

.fc-no-select {
    user-select: none;
}

.fc-scrollable {
    max-height: 90vh;
    max-width: 90vw;
    overflow: auto;
}

.fc-div-max-width-screen {
    max-width: 2000px;
    width: 100vw;
}

.fc-label-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    position: relative;
    top: 10px;
}

.fc-guy-button-flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.fc-strip-button {
    background: rgba(255, 255, 255, .7);
    border-color: rgba(230, 230, 230, .7);
    border-width: 2px;
    border-radius: 10px;
    margin: 5px;
}

.fc-strip-button:hover{
    background: rgba(180, 180, 180, .7);
}

.fc-strip-button:active{
    background: rgba(100, 100, 100, .7);
}

.fc-label{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0,0,0);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(0,0,0);
    margin-top: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    user-select: none;
    z-index: 1;
}