.fc-stacked {
    position: absolute;
}

.fc-card-small {
    height: 105px;
    width: 75px;
}

.fc-card-medium {
    height: 210px;
    width: 150px;
}

.fc-card-large {
    height: 350px;
    width: 250px;
}

.fc-stack-placeholder-color {
    background-color: #c8cece;
}

.fc-flex-container {
    display: flex;
}

.fc-flex-container-wrap{
    flex-wrap: wrap;
}

.fc-flex-container > div {
    margin: 10px;
}

.fc-flex-container-center {
    justify-content: center;
}

.fc-selected {
    border-style: solid;
    border-color: red;
    border-width: 7px;
}

.fc-unselected {
    border-style: solid;
    border-color: transparent;
    border-width: 7px;
}

.fc-card-selector {
    background-color: azure;
    border-style: solid;
    border-color: deepskyblue;
    border-width: 7px;
}

.fc-flex-right-column{
    margin-left: auto;
}

.fc-popup-menu-content {
    margin: auto;  
    background: rgb(161, 161, 161);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.fc-popup-menu-content .fc-popup-menu-content-item:hover {
    background: rgb(100,100,100);
}

.fc-clickable {
    cursor: pointer;
}