.fc-stacked {
    position: absolute;
}

.fc-card-small {
    height: 105px;
    width: 75px;
}

.fc-card-medium {
    height: 210px;
    width: 150px;
}

.fc-card-large {
    height: 350px;
    width: 250px;
}

.fc-stack-placeholder-color {
    background-color: #c8cece;
}

.fc-flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.fc-flex-container > div {
    margin: 10px;
}

.fc-selected {
    border-style: solid;
    border-color: red;
    border-width: 7px;
}

.fc-unselected {
    border-style: solid;
    border-color: transparent;
    border-width: 7px;
}